<div class="movie container">
  <h1>{{model.title}}</h1>
  <h4>{{model.tagline}}</h4>
  <div class="row info">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="cover-image-wrapper">
        {{cover-image model=model size="large"}}
      </div>
      <div class="actions">
        {{#link-to 'movie.trailer' model.id classNames="btn btn-primary trailer-button" }}View trailer{{/link-to}}
      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
      <header class="header">
        <h4>{{releaseYear}} {{formattedGenres}}</h4>
      </header>
      <section>
        <p>{{{model.overview}}}</p>
      </section>
      <section class="col-sm-6 col-md-6 col-lg-6">
        <h5>Not-so-interesting info</h5>
        <ul class="list-group">
          {{#if model.homepage}}
          <li class="list-group-item">Website: <a {{bind-attr href=model.homepage}}>{{model.homepage}}</a></li>
          {{/if}}
          <li class="list-group-item">Release date: {{model.release_date}}</li>
          <li class="list-group-item">Rating: {{model.vote_average}}</li>
          <li class="list-group-item">Budget: {{format-money amount=model.budget}}</li>
          <li class="list-group-item">Revenue: {{format-money amount=model.revenue}}</li>
        </ul>
      </section>
      <section class="col-sm-6 col-md-6 col-lg-6 cast">
        <h5>Cast</h5>
        {{#each topCast as |person|}}
          {{list-cast model=person}}
        {{/each}}
      </section>
    </div>
    {{#if model.similar}}
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h4>Similar movies</h4>
        {{#each slicedSimilar as |movie|}}
          {{list-item model=movie}}
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="backdrop-container">
    {{backdrop-image model=model}}
  </div>
</div>
{{outlet}}
