<div class="movie">
  <h2>{{model.title}}</h2>
  <div class="row movie-info">
    <div class="col-sm-4 col-md-4">
      <div class="movie-cover-wrapper">
        {{movie-cover movieService=movieService movie=model size="large"}}
      </div>
    </div>
    <div class="col-sm-8 col-md-8">
      <h4>{{model.tagline}}</h4>
      <p>{{model.overview}}</p>
      <h5>Interesting facts</h5>
      <ul class="list-group">
        <li class="list-group-item">Release date: {{model.release_date}}</li>
        <li class="list-group-item">Rating: {{model.vote_average}}</li>
        <li class="list-group-item">Budget: $ {{model.budget}}</li>
        <li class="list-group-item">Revenue: $ {{model.revenue}}</li>
      </ul>
    </div>
  </div>
  <div class="movie-backdrop-container">
    {{movie-backdrop tmdbService=tmdbService movie=model}}
  </div>
</div>
