<div class="movie container">
  <div class="row info">
    <div class="col-sm-4 col-md-4 col-lg-2">
      <div class="cover-image-wrapper">
        {{cover-image model=model size="large"}}
      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-10">
      <h2>{{model.title}}</h2>
      <h3>{{releaseYear}}</h3>
      <div class="genres">
        {{#each model.genres as |genre|}}
          <span class="label label-default">{{genre.name}}</span>
        {{/each}}
      </div>
      <h4>Overview</h4>
      <p>{{model.overview}}</p>
      <div class="actions">
        {{#link-to 'movie.trailer' movie.id classNames="btn btn-primary" }}View trailer{{/link-to}}
      </div>
      <h5>Interesting facts</h5>
      <ul>
        <li>Release date: {{model.release_date}}</li>
        <li>Rating: {{model.vote_average}}</li>
        <li>Budget: {{format-money amount=model.budget}}</li>
        <li>Revenue: {{format-money amount=model.revenue}}</li>
      </ul>
    </div>
  </div>
  <div class="backdrop-container">
    {{backdrop-image model=model}}
  </div>
</div>
